.find .find__options {
    background-color: #eeeeee;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 15px;
}

.find__options .find__option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 5px;
    color: #523737;
}

.find__option i {
    margin-bottom: 15px;
}

.find__option span {
    font-size: 12px;
}

.find__recommended header {
    border-bottom: 1px solid #ebebeb;
    padding: 5px 10px;
    font-size: 12px;
    color: #b4b4b4;
}

.recommended__none {
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #ebebeb;
    color: #b4b4b4;
    font-size: 14px;
}
